{% extends 'base.html' %}
{% load staticfiles %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                  <img src="{% static 'photos/img/photos.jpg' %}" alt="" width="300" height="196">
            </div>
            <div class="col-sm-4">
                <h2>Gestion Photos</h2>
                <p>
                    Cet outil de gestion des photos sert à ranger les photos prises avec les
                    appareils électroniques dans le répertoire des photos sur le serveur familial.

                </p>
            </div>
            <div class="col-sm-5">
                <p><h2>Inscrire les répertoires</h2></p>
                <form class="form-inline" method="post">{% csrf_token %}
                      <div class="form-group">
                            <label for="source">Source </label>
                            <input name="source" type="text" class="form-control" id="source"
                                   placeholder="Répertoire source" value="{{ source }}">
                            <button id="btnsource" type="submit" class="btn btn-default">Parcourir ...</button>
                      </div>

                </form>
                <form class="form-inline" method="post">{% csrf_token %}
                      <div class="form-group">
                            <label for="destination">Destination </label>
                            <input name="destination" type="text" class="form-control" id="destination"
                                   placeholder="Répertoire destination" value="{{ destination }}">
                             <button id="btndestination" type="submit" class="btn btn-default">Parcourir ...</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}