{% extends 'base.html' %}

{% block contenu %}
    <div class="container">
          <div class="row">
                <div class="col-sm-3">
                    <h2>Informations</h2>
                    <p>C'est le suivi de l'entretien de l'auto dénomée : {{ voiture }}</p>
                    <ul>
                        <li>Marque : {{ voiture.marque }}</li>
                        <li>Type : {{ voiture.type }} </li>
                        <li>Année : {{ voiture.annee }}</li>
                        <li>Odomètre à l'achat : {{ voiture.odometre_depart }}</li>
                        <li>Achetée le : {{ voiture.date_achat }}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>Résumé Entretien</h2>
                    {% if nb_entretien %}
                        <p>Le kilométrage actuel est maintenant de : {{ odometre_actuel }} Km</p>
                        <p>Vous avez parcouru {{ parcours }} Km depuis l'achat du véhicule</p>
                        <p>le total des dépenses d'entretien est de : {{ cout_entretien }} $</p>
                        <p>pour {{ nb_entretien }} visites chez le garagiste!</p>
                    {% else %}
                        <p>Aucun entretien pour le moment</p>
                    {% endif %}

                </div>
                <div class="col-sm-5">
                    <h2>Ajouter un entretien</h2>
                      <form action="" method="post">{% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Confirmer" class="btn btn-primary">
                      </form>
                </div>
          </div>
    </div>
{% endblock %}