{% extends 'base.html' %}
{% load staticfiles %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                  <img src="{% static 'img/bo.png' %}" alt="Boite à outils" align="left" width="300" height="196">
            </div>
            <div class="col-sm-4">
                <h2>Boite à outils</h2>
                <p>
                    Les outils informatiques pour rendre la vie quotidienne plus simple.
                    C'est un site en devenir. Plus l'habileté du programmeur va augmenter,
                    plus les outils vont prendre de l'ampleur.
                </p>
            </div>
            <div class="col-sm-5">
                <p><h2>Choisir</h2></p>
                liste des applications disponibles<br><br>

                <div class="btn-group-vertical" role="button" aria-label="...">
                    <a class="btn btn-primary" href="{% url 'voiture:home' %}">Voiture</a>
                    <a class="btn btn-primary" href="{% url 'photos:home' %}">Photos</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}